
/* GLOBAL */

.body{
    background: #e5e5e5;
    color: #25282b;

    font-family: 'Montserrat', sans-serif;

    margin: 0;
}

.a{
    color: #FF5E84;
    font-weight: bold;

    text-decoration: none;
}

.a:hover{
    color: #FF5E84;
    text-decoration: underline;
}

p, .description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.button{
    color: white;
    background-color: #FF5E84;

    width: 150px;
    height: 40px;   
    
    border-radius: 8px;

    font-size: 14px;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.3);
}

.button:hover{
    background-color: #0984e3;
    color: white;

    text-decoration: none;

    transition: 400ms;
}

/* PADRÃO */

#container{
    width: 80%;
    max-width: 980px;
    
    margin: 40px auto;
}

#intro{
    width: 100%;

    margin-bottom: 32px;
}

#intro header{
    text-align: center;
}

main{
    margin: 32px 0;
}

#buttons{
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 32px;
}

button{
    background: none;
    color: #FF5E84;

    border: none;
    
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;

    cursor: pointer;

    outline: none;
}

.letra{
    font-size: 14px;
    font-weight: bold;
}

button:hover{
    text-decoration: underline;
}

footer{
    text-align: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #777;
}

footer a{
    color:  #777;
    text-decoration: none;
}

footer a:hover{
    color: #FF5E84;
    opacity: 0.7;
    font-weight: bold;

    text-decoration: none;
}

#footer2{
    display: none;
}

#footer1{
    display: contents;
}

.idea{
    background-color: #fff;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    border-radius: 8px;

    padding: 32px;
    margin-bottom: 32px;

    text-align: center;
}

.idea img{
    width: 60px;
    height: 60px;
    
    margin-bottom: 15px;
}

.idea h3{
    margin: 0;
}

.idea p{
    margin: 8px 0;

    color: #777;
}

.idea .description{
    margin: 16px 0;
    text-align: left;
}

/* MODAL */

#modal{
    background-color: #FF5E84;
}

form{
    color: white;
}

.h1{
    color: white;

    text-transform: uppercase;

    text-align: center;

    margin: 12px;
}

form input, form textarea{
    width: 100%;

    padding: 12px;
    margin-bottom: 12px;

    box-sizing: border-box;

    border-radius: 6px;
    border: 1px solid rgba(141, 25, 52, 0.5);

    outline: none;

    font-size: 16px;
}

form lebal{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a{
    width: 150px;
    height: 40px; 

    background-color: #ffffff22;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;

    border-radius: 6px;

    margin-top: 12px;
}

form a:hover{
    background-color: #ffff;
    color: #FF5E84;

    text-decoration: none;

    transition: 400ms;
}

form button{
    background-color: white;

    width: 150px;
    height: 40px;   
    
    border-radius: 6px;

    cursor: pointer;

    margin-top: 12px;
}

form button:hover{
    background-color: #0984e3;
    color: white;

    text-decoration: none;

    transition: 400ms;
}

/* IDEIA.HTML*/
#page-ideas #container{
    display: block;
}

#page-ideas header{
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

#page-ideas header img{
    margin-bottom: 20px;
}


#page-ideas nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-ideas nav li{
    list-style-type: none;

    margin-right: 16px;
}

#page-ideas nav li a{
    color: #25282b;

    font-weight: bold;
}

#page-ideas nav li a.button{
    color: white;
}

#page-ideas nav li:last-child{
    margin: 0;
}

section#title{
    text-align: center;

    margin: 32px 0;
}

section#title p{
    opacity: 0.7;
    margin: 0;
    margin-bottom: 5px;
}

section#title h1{
    margin: 0;

    font-size: 28px;
}


/* MIDIA MIOR QUE 900: */

@media (min-width: 900px) {
    #container{
        display: flex;
    }

    #intro{
        width: 300px;
        margin-right: 64px;
    }

    .idea{
        display: flex;
    
        background-color: #fff;
        box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
        border-radius: 8px;
    
        padding: 32px;
        margin-bottom: 32px;

        text-align: left;
    }
    
    .idea img{
        margin-right: 32px;
    }
    
    .idea .description{
        margin: 16px 0;
    }

    #footer1{
        display: none;
    }

    #footer2{
        display: contents;
    }

    #page-ideas header{
        display: flex;
        justify-content: space-between;
    }

    #page-ideas nav{
        display: flex;
    }

    section#title{
        margin: 64px 0;
    }

    section#title p{
        margin: 0;
    }

    section#ideas{
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 20px;
    }

    section#ideas .idea{
        margin: 0;
    }

    section#ideas,
    section#title,
    footer{
        margin-top: 64px;
    }
}

/* 
    https://pt.stackoverflow.com/questions/276808/carregar-imagem-via-javascript
 */